<settings>
    <setting id="Location1" value="Baton Rouge (US)" />
    <setting id="Location1id" value="2359991" />
    <setting id="Location2" value="Biloxi (US)" />
    <setting id="Location2id" value="2364295" />
    <setting id="Location3" value="Houston (US)" />
    <setting id="Location3id" value="2424766" />
</settings>
