<settings>
    <setting id="activetagcheckinterval" value="60" />
    <setting id="activetagcheckintervalbool" value="false" />
    <setting id="allitemsonbottom" value="false" />
    <setting id="allitemsonbottombool" value="false" />
    <setting id="alwaysontop" value="yes" />
    <setting id="alwaysontopbool" value="false" />
    <setting id="alwaysreplacegenre" value="false" />
    <setting id="alwaysreplacegenrebool" value="false" />
    <setting id="audiochannelselection" value="true" />
    <setting id="audiochannelselectionbool" value="false" />
    <setting id="audiodelayrange" value="10" />
    <setting id="audiodelayrangebool" value="false" />
    <setting id="autoassignstartfrom" value="1" />
    <setting id="autoassignstartfrombool" value="false" />
    <setting id="automastermode" value="false" />
    <setting id="automastermodebool" value="false" />
    <setting id="autoscaniconsuserset" value="false" />
    <setting id="autoscaniconsusersetbool" value="false" />
    <setting id="backgroundupdate" value="false" />
    <setting id="backgroundupdatebool" value="false" />
    <setting id="blackbarcolour" value="1" />
    <setting id="blackbarcolourbool" value="false" />
    <setting id="blackbarcompensation" value="20" />
    <setting id="blackbarcompensationbool" value="false" />
    <setting id="buffermode" value="0" />
    <setting id="buffermodebool" value="false" />
    <setting id="cacheindvdplayer" value="true" />
    <setting id="cacheindvdplayerbool" value="false" />
    <setting id="cachemembuffersize" value="0" />
    <setting id="cachemembuffersizebool" value="false" />
    <setting id="categoriestogenres" value="false" />
    <setting id="categoriestogenresbool" value="false" />
    <setting id="channeliconsautoscan" value="true" />
    <setting id="channeliconsautoscanbool" value="false" />
    <setting id="cleanonupdate" value="false" />
    <setting id="cleanonupdatebool" value="false" />
    <setting id="commbreakautowait" value="0" />
    <setting id="commbreakautowaitbool" value="false" />
    <setting id="commbreakautowind" value="0" />
    <setting id="commbreakautowindbool" value="false" />
    <setting id="compactoutput" value="true" />
    <setting id="compactoutputbool" value="false" />
    <setting id="controllerdeadzone" value="0.2" />
    <setting id="controllerdeadzonebool" value="false" />
    <setting id="curlclienttimeout" value="" />
    <setting id="curlclienttimeoutbool" value="false" />
    <setting id="curllowspeedtime" value="" />
    <setting id="curllowspeedtimebool" value="false" />
    <setting id="dateadded" value="1" />
    <setting id="dateaddedbool" value="false" />
    <setting id="defaultplayer" value="dvdplayer" />
    <setting id="defaultplayerbool" value="false" />
    <setting id="defaultrootmenu" value="1" />
    <setting id="defaultrootmenubool" value="false" />
    <setting id="defaultsubmenu" value="1" />
    <setting id="defaultsubmenubool" value="false" />
    <setting id="displayincrementalupdatepopup" value="false" />
    <setting id="displayincrementalupdatepopupbool" value="false" />
    <setting id="displayupdatepopup" value="true" />
    <setting id="displayupdatepopupbool" value="false" />
    <setting id="enablemultimediakeys" value="true" />
    <setting id="enablemultimediakeysbool" value="false" />
    <setting id="epgrequesttime" value="10" />
    <setting id="epgrequesttimebool" value="false" />
    <setting id="exportautothumbs" value="false" />
    <setting id="exportautothumbsbool" value="false" />
    <setting id="fanartres" value="1080" />
    <setting id="fanartresbool" value="false" />
    <setting id="fullscreen" value="false" />
    <setting id="fullscreenbool" value="false" />
    <setting id="fullscreenonmoviestart" value="true" />
    <setting id="fullscreenonmoviestartbool" value="false" />
    <setting id="height" value="720" />
    <setting id="heightbool" value="false" />
    <setting id="hideallitems" value="false" />
    <setting id="hideallitemsbool" value="false" />
    <setting id="hideemptyseries" value="false" />
    <setting id="hideemptyseriesbool" value="false" />
    <setting id="hiderecentlyaddeditems" value="false" />
    <setting id="hiderecentlyaddeditemsbool" value="false" />
    <setting id="httpproxypassword" value="" />
    <setting id="httpproxypasswordbool" value="false" />
    <setting id="httpproxyusername" value="" />
    <setting id="httpproxyusernamebool" value="false" />
    <setting id="ignoreerrors" value="true" />
    <setting id="ignoreerrorsbool" value="false" />
    <setting id="ignorepercentatend" value="8" />
    <setting id="ignorepercentatendbool" value="false" />
    <setting id="ignoresecondsatstart" value="180" />
    <setting id="ignoresecondsatstartbool" value="false" />
    <setting id="imageres" value="720" />
    <setting id="imageresbool" value="false" />
    <setting id="importresumepoint" value="false" />
    <setting id="importresumepointbool" value="false" />
    <setting id="importwatchedstate" value="false" />
    <setting id="importwatchedstatebool" value="false" />
    <setting id="infotoggleinterval" value="3000" />
    <setting id="infotoggleintervalbool" value="false" />
    <setting id="itemseparator" value=" / " />
    <setting id="itemseparatorbool" value="false" />
    <setting id="lingercleanupintervaltime" value="900" />
    <setting id="lingercleanupintervaltimebool" value="false" />
    <setting id="lingertime" value="1440" />
    <setting id="lingertimebool" value="false" />
    <setting id="loginlock" value="true" />
    <setting id="loginlockbool" value="false" />
    <setting id="maxcommbreakgap" value="120" />
    <setting id="maxcommbreakgapbool" value="false" />
    <setting id="maxcommbreaklength" value="250" />
    <setting id="maxcommbreaklengthbool" value="false" />
    <setting id="maxretries" value="3" />
    <setting id="maxretriesbool" value="false" />
    <setting id="maxvideocachelevel" value="10" />
    <setting id="maxvideocachelevelbool" value="false" />
    <setting id="mergeshortcommbreaks" value="false" />
    <setting id="mergeshortcommbreaksbool" value="false" />
    <setting id="mincommbreaklength" value="90" />
    <setting id="mincommbreaklengthbool" value="false" />
    <setting id="minvideocachelevel" value="5" />
    <setting id="minvideocachelevelbool" value="false" />
    <setting id="movielengthbool" value="false" />
    <setting id="mu_name" value="MyMusic" />
    <setting id="mu_pass" value="osmc" />
    <setting id="mu_toggle" value="false" />
    <setting id="mu_type" value="mysql" />
    <setting id="mu_user" value="osmc" />
    <setting id="nextsongpopuptime" value="0.0" />
    <setting id="nextsongpopuptimebool" value="false" />
    <setting id="nocdgbackground" value="true" />
    <setting id="nocdgbackgroundbool" value="false" />
    <setting id="numericchannelswitchtimeout" value="1000" />
    <setting id="numericchannelswitchtimeoutbool" value="false" />
    <setting id="packagefoldersize" value="200" />
    <setting id="packagefoldersizebool" value="false" />
    <setting id="panamount" value="2.5" />
    <setting id="panamountbool" value="false" />
    <setting id="percentseekbackward" value="-2" />
    <setting id="percentseekbackwardbig" value="-10" />
    <setting id="percentseekbackwardbigbool" value="false" />
    <setting id="percentseekbackwardbool" value="false" />
    <setting id="percentseekforward" value="2" />
    <setting id="percentseekforwardbig" value="10" />
    <setting id="percentseekforwardbigbool" value="false" />
    <setting id="percentseekforwardbool" value="false" />
    <setting id="pictureicon" value="true" />
    <setting id="pictureiconbool" value="false" />
    <setting id="playcountminimumpercent" value="90" />
    <setting id="playcountminimumpercentbool" value="false" />
    <setting id="playlistretries" value="100" />
    <setting id="playlistretriesbool" value="false" />
    <setting id="playlisttimeout" value="20" />
    <setting id="playlisttimeoutbool" value="false" />
    <setting id="readbufferfactor" value="" />
    <setting id="readbufferfactorbool" value="false" />
    <setting id="recentlyaddeditems" value="25" />
    <setting id="recentlyaddeditemsbool" value="false" />
    <setting id="remotedelay" value="10" />
    <setting id="remotedelaybool" value="false" />
    <setting id="remoterepeat" value="800" />
    <setting id="remoterepeatbool" value="false" />
    <setting id="retryinterruptedupdateinterval" value="30" />
    <setting id="retryinterruptedupdateintervalbool" value="false" />
    <setting id="seeksteps" value="7, 15, 30, 60, 180, 300, 600, 900, 1800" />
    <setting id="seekstepsbool" value="false" />
    <setting id="showexitbutton" value="false" />
    <setting id="showexitbuttonbool" value="false" />
    <setting id="skiploopfilter" value="true" />
    <setting id="skiploopfilterbool" value="false" />
    <setting id="smallstepbackseconds" value="7" />
    <setting id="smallstepbacksecondsbool" value="false" />
    <setting id="splash" value="false" />
    <setting id="splashbool" value="false" />
    <setting id="startuplock" value="false" />
    <setting id="startuplockbool" value="false" />
    <setting id="storedelay" value="true" />
    <setting id="storedelaybool" value="false" />
    <setting id="submenuselection" value="true" />
    <setting id="submenuselectionbool" value="false" />
    <setting id="subsdelayrange" value="10" />
    <setting id="subsdelayrangebool" value="false" />
    <setting id="syncdelaycdg" value="0.0" />
    <setting id="syncdelaycdgbool" value="false" />
    <setting id="syncdelaylrc" value="0.0" />
    <setting id="syncdelaylrcbool" value="false" />
    <setting id="tcpportbool" value="false" />
    <setting id="timecorrection" value="0" />
    <setting id="timecorrectionbool" value="false" />
    <setting id="timeseekbackward" value="-30" />
    <setting id="timeseekbackwardbig" value="-600" />
    <setting id="timeseekbackwardbigbool" value="false" />
    <setting id="timeseekbackwardbool" value="false" />
    <setting id="timeseekforward" value="30" />
    <setting id="timeseekforwardbig" value="600" />
    <setting id="timeseekforwardbigbool" value="false" />
    <setting id="timeseekforwardbool" value="false" />
    <setting id="updatecheckinterval" value="300" />
    <setting id="updatecheckintervalbool" value="false" />
    <setting id="updateemptytagsinterval" value="60" />
    <setting id="updateemptytagsintervalbool" value="false" />
    <setting id="useddsfanart" value="true" />
    <setting id="useddsfanartbool" value="false" />
    <setting id="usetimeseeking" value="true" />
    <setting id="usetimeseekingbool" value="false" />
    <setting id="vd_name" value="MyVideos" />
    <setting id="vd_pass" value="osmc" />
    <setting id="vd_toggle" value="false" />
    <setting id="vd_type" value="mysql" />
    <setting id="vd_user" value="osmc" />
    <setting id="width" value="1280" />
    <setting id="widthbool" value="false" />
    <setting id="zapwaittime" value="0" />
    <setting id="zapwaittimebool" value="false" />
    <setting id="zoomamount" value="5.0" />
    <setting id="zoomamountbool" value="false" />
</settings>
