<settings>
    <setting id="home.vertical" type="bool">false</setting>
    <setting id="hide.busydialog" type="bool">false</setting>
    <setting id="osd.usetheme" type="bool">true</setting>
    <setting id="ArtistSlideshow.Animate" type="bool">false</setting>
    <setting id="show.reflections" type="bool">true</setting>
    <setting id="OSDVisualisation.ShowFanart" type="bool">false</setting>
    <setting id="SkinHelper.EnableDayNightThemes" type="bool">false</setting>
    <setting id="furniture.topweather" type="bool">true</setting>
    <setting id="furniture.header" type="bool">false</setting>
    <setting id="skinshortcuts-widget-extendedinfo" type="bool">true</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="SmartShortcuts.emby" type="bool">false</setting>
    <setting id="osd.alwaysshowmusicosd" type="bool">false</setting>
    <setting id="furniture.flags" type="bool">false</setting>
    <setting id="furniture.overlayinfo" type="bool">false</setting>
    <setting id="EnableNextAiredNotifications" type="bool">false</setting>
    <setting id="UpdateArt.Enabled" type="bool">false</setting>
    <setting id="home.showheader" type="bool">false</setting>
    <setting id="SkinHelper.EnablePVRThumbs" type="bool">true</setting>
    <setting id="EnableWeatherNotifications" type="bool">false</setting>
    <setting id="musicvis.fanartfallback" type="bool">false</setting>
    <setting id="furniture.nowplaying" type="bool">false</setting>
    <setting id="furniture.clock" type="bool">false</setting>
    <setting id="home.classicwidgets" type="bool">false</setting>
    <setting id="startup.init" type="bool">true</setting>
    <setting id="enable.smartish.widgets" type="bool">false</setting>
    <setting id="home.submenu2" type="bool">false</setting>
    <setting id="furniture.numericrating" type="bool">true</setting>
    <setting id="osd.showinfoonpause" type="bool">false</setting>
    <setting id="global.showvideo" type="bool">false</setting>
    <setting id="Fanart.Animate" type="bool">false</setting>
    <setting id="HideMouse" type="bool">false</setting>
    <setting id="AutoFocusUnwatchedEpisode" type="bool">false</setting>
    <setting id="home.showweatherfanart" type="bool">false</setting>
    <setting id="furniture.weather" type="bool">false</setting>
    <setting id="ArtistSlideShow.Disabled" type="bool">false</setting>
    <setting id="furniture.logo" type="bool">false</setting>
    <setting id="SkinHelper.EnableExtraFanart" type="bool">false</setting>
    <setting id="global.showvisualisation" type="bool">false</setting>
    <setting id="furniture.flagicons" type="bool">false</setting>
    <setting id="home.dontshowfanart" type="bool">true</setting>
    <setting id="ShowClearArtOSD" type="bool">false</setting>
    <setting id="global.hidefanart" type="bool">false</setting>
    <setting id="home.showicons" type="bool">false</setting>
    <setting id="global.hidecirles" type="bool">true</setting>
    <setting id="SmartShortcuts.plex" type="bool">false</setting>
    <setting id="home.dontautoshowwidget" type="bool">false</setting>
    <setting id="50list.low" type="bool">false</setting>
    <setting id="51bigwide.showinfo" type="bool">false</setting>
    <setting id="52biglist.singlepane" type="bool">false</setting>
    <setting id="global.kioskmode" type="bool">false</setting>
    <setting id="55wall.showposter" type="bool">false</setting>
    <setting id="56media.showinfo" type="bool">false</setting>
    <setting id="56media.low" type="bool">false</setting>
    <setting id="55wall.showinfo" type="bool">false</setting>
    <setting id="indicators.unwatched" type="bool">false</setting>
    <setting id="indicators.new" type="bool">false</setting>
    <setting id="57list.low" type="bool">false</setting>
    <setting id="indicators.resume" type="bool">false</setting>
    <setting id="53poster.nowrap" type="bool">false</setting>
    <setting id="54banner.showinfo" type="bool">false</setting>
    <setting id="SkinHelper.EnableAnimatedPosters" type="bool">false</setting>
    <setting id="50list.showplot" type="bool">false</setting>
    <setting id="indicators.watched" type="bool">false</setting>
    <setting id="SkinHelper.WallImagesDelay" type="string"></setting>
    <setting id="SkinHelper.RandomFanartDelay" type="string"></setting>
    <setting id="Widget.1116.Label" type="string"></setting>
    <setting id="MovieHubWidget" type="string"></setting>
    <setting id="weather.icons.path" type="string"></setting>
    <setting id="Widget.1114.Label" type="string"></setting>
    <setting id="fanart.fallback" type="string"></setting>
    <setting id="focuscolor.name" type="string">FFaf6bdf</setting>
    <setting id="weather.fanart.name" type="string"></setting>
    <setting id="TVHubWidget" type="string"></setting>
    <setting id="home.fallbackwidget" type="string">addons://sources/video/</setting>
    <setting id="StartupPlaylist" type="string"></setting>
    <setting id="Widget.1113.Label" type="string"></setting>
    <setting id="Widget.1115.Label" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.programs" type="string"></setting>
    <setting id="weather.fanart" type="string"></setting>
    <setting id="SkinHelper.CustomStudioImagesPath" type="string"></setting>
    <setting id="SkinHelper.ForcedViews.files" type="string"></setting>
    <setting id="SkinHelper.PicturesBackgroundPath" type="string"></setting>
    <setting id="home.fallbackwidget.name" type="string">Video add-ons</setting>
    <setting id="SkinHelper.ForcedViews.movies" type="string"></setting>
    <setting id="home.fallbackwidget.type" type="string">item</setting>
    <setting id="home.slideshowpath" type="string"></setting>
    <setting id="skinshortcuts-widget-1" type="string">extendedinfo</setting>
    <setting id="Widget.1111.Label" type="string"></setting>
    <setting id="Widget.1118.Label" type="string"></setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
    <setting id="SkinHelper.ColorTheme.Day.time" type="string"></setting>
    <setting id="Widget.1119.Label" type="string"></setting>
    <setting id="weather.fanart.path" type="string"></setting>
    <setting id="Widget.1112.Label" type="string"></setting>
    <setting id="SkinHelper.ColorTheme.Night.time" type="string"></setting>
    <setting id="Widget.1117.Label" type="string"></setting>
</settings>
