<settings>
    <setting id="01-enable" value="true" />
    <setting id="01-pass" value="xbmchub" />
    <setting id="01-path" value="special://home/addons" />
    <setting id="01-perm" value="elradfmwM" />
    <setting id="01-user" value="addons" />
    <setting id="02-enable" value="true" />
    <setting id="02-pass" value="xbmchub" />
    <setting id="02-path" value="special://home" />
    <setting id="02-perm" value="elradfmwM" />
    <setting id="02-user" value="home" />
    <setting id="03-enable" value="false" />
    <setting id="03-pass" value="xbmchub" />
    <setting id="03-path" value="special://xbmc" />
    <setting id="03-perm" value="elradfmwM" />
    <setting id="03-user" value="xbmc" />
    <setting id="04-enable" value="false" />
    <setting id="04-pass" value="xbmchub" />
    <setting id="04-path" value="special://temp" />
    <setting id="04-perm" value="elradfmwM" />
    <setting id="04-user" value="temp" />
    <setting id="05-enable" value="false" />
    <setting id="05-pass" value="xbmchub" />
    <setting id="05-path" value="special://masterprofile" />
    <setting id="05-perm" value="elradfmwM" />
    <setting id="05-user" value="masterprofile" />
    <setting id="06-enable" value="false" />
    <setting id="06-pass" value="xbmchub" />
    <setting id="06-path" value="special://subtitles" />
    <setting id="06-perm" value="elradfmwM" />
    <setting id="06-user" value="subtitles" />
    <setting id="07-enable" value="false" />
    <setting id="07-pass" value="xbmchub" />
    <setting id="07-path" value="special://recordings" />
    <setting id="07-perm" value="elradfmwM" />
    <setting id="07-user" value="recordings" />
    <setting id="08-enable" value="false" />
    <setting id="08-pass" value="xbmchub" />
    <setting id="08-path" value="special://screenshots" />
    <setting id="08-perm" value="elradfmwM" />
    <setting id="08-user" value="screenshots" />
    <setting id="09-enable" value="false" />
    <setting id="09-pass" value="xbmchub" />
    <setting id="09-path" value="special://thumbnails" />
    <setting id="09-perm" value="elradfmwM" />
    <setting id="09-user" value="thumbnails" />
    <setting id="10-enable" value="false" />
    <setting id="10-pass" value="xbmchub" />
    <setting id="10-path" value="" />
    <setting id="10-perm" value="elradfmwM" />
    <setting id="10-user" value="" />
    <setting id="address" value="" />
    <setting id="anon-enable" value="true" />
    <setting id="anon-path" value="special://logpath" />
    <setting id="auto-back" value="true" />
    <setting id="auto-view" value="true" />
    <setting id="default-view" value="500" />
    <setting id="is-serivce-running" value="true" />
    <setting id="max-connections" value="5" />
    <setting id="max-connections-per-ip" value="5" />
    <setting id="password" value="xbmchub" />
    <setting id="port" value="2121" />
    <setting id="server_enable" value="false" />
    <setting id="show-accounts" value="true" />
    <setting id="show-endisserver" value="true" />
    <setting id="show-ftpurl" value="true" />
    <setting id="show-netsettings" value="true" />
    <setting id="show-restartxbmc" value="true" />
    <setting id="show-serverstatus" value="true" />
    <setting id="show-settings" value="true" />
    <setting id="timeout" value="10" />
</settings>
